body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logoPreview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#message.success {
  background-color: #d4edda; /* green-200 */
  color: #155724; /* green-800 */
  border: 1px solid #c3e6cb; /* green-300 */
}

#message.error {
  background-color: #f8d7da; /* red-200 */
  color: #721c24; /* red-800 */
  border: 1px solid #f5c6cb; /* red-300 */
}
